.form-header {
    margin-top: 25px;
}

.form-control, .form-select {
    margin-top: 15px;
}

.radio-buttons {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sum {
    margin-top: 25px;
}

.header {
    margin-top: 25px;
}